{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iSMH</title>
    <link rel="stylesheet" href="{% static 'inicio/css/style.css' %}"></head>
<body>
    <div class="grid-container">
        <div class="grid-item">Painel de dados - em desenvolvimento</div>
        <div class="grid-item">Blog - em desenvolvimento</div>
        <div class="grid-item">
            <div class="grid-item">Agressividade</div>
            <div class="grid-item">Autossuficiência</div>
            <div class="grid-item">Riscos</div>
            <div class="grid-item">Outros</div>
        </div>
        <div class="grid-item">4</div>
    </div>
</body>
</html>